@model PestControl.Web.Models.ContactListViewModel

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
    ViewBag.Title = "All Contacts";
}

<h4>Schedule Request List</h4>
<div class="panel panel-primary">
    <div class="panel-body">
        <!-- Table -->
        <table class="table table-striped table-responsive table-bordered table-hover" style="overflow:hidden">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Schedule</th>
                <th>Message</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.Contacts)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Schedule</td>
                    <td>@item.Message</td>
                    <td>
                        @if (item.Status == 0)
                        {
                            @Html.Raw("Pending")
                        }
                        @if (item.Status == 1)
                        {
                            @Html.Raw("Approved")
                        }
                        @if (item.Status == 2)
                        {
                            @Html.Raw("Confirmed")
                        }
                </td>
                    <td>
                        @if (item.IsPending)
                        {
                            <a href="@Url.RouteUrl("ApproveContact", new { id = item.Id})">Approve | </a>
                        }
                        <a href="@Url.RouteUrl("EditContact", new { id = item.Id })">Edit</a>
                    </td>
            </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <nav>
            <ul class="pagination">
                @if (Model.Contacts.HasPreviousPage)
                {
                    <li><a href="@Url.RouteUrl("ContactAdminList", new { pageIndex = 0 })" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                }
                <li><a href="#" style="text-decoration:none; cursor:none">Showing @(Model.Contacts.PageIndex + 1) of @Model.Contacts.TotalPages</a></li>
                @if (Model.Contacts.HasNextPage)
                {
                    <li><a href="@Url.RouteUrl("ContactAdminList", new { pageIndex = Model.Contacts.PageIndex + 1 })" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                        </a></li>
                }
            </ul>
        </nav>
    </div>
</div>
