@model PestControl.Web.Models.SubMenuEditAdminModel

@{
    ViewBag.Title = "EditSubMenu";
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MenuId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MenuId, Model.AvailableMenus, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.MenuId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription)
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.FullDescription, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullDescription)
                    @Html.ValidationMessageFor(model => model.FullDescription)
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.FullDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.FullDescription, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.FullDescription)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active)
                </div>
            </div>*@



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
}