@model ASPNetMVCExtendingIdentity2Roles.Models.PaymentEditModel

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_MainPagePartialLayout.cshtml";
}

<div class="panel" style="margin: 0 auto;width:50%">

    <div class="panel-heading">
        <h2>Payment</h2>
    </div>
    <br />
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CardNo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CardNo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SecurityCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SecurityCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SecurityCode)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpireDate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control form_datetime" } })
                       @Html.ValidationMessageFor(model => model.ExpireDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Invoice, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Invoice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Invoice)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostalCode)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CardType, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CardType, Model.AvaiableTypes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardType)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts{
    
    <script type="text/javascript">
        $('.form_datetime').val('2015-02-01');
        //$(document).ready(function () {
        //    $('.form_datetime').datetimepicker({
        //        format: "yyyy-mm-dd",
        //        autoclose: true,
        //        todayBtn: false,
        //        showMeridian: true,
        //        initialDate: new Date(),
        //        startView: 2,
        //        minView: 2,
        //        maxView: 4
        //    });
        //});

</script>

}